<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Lichtsensor" data-view="Temp" data-title="Draußen"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Motion_Flur" data-view="Temp" data-title="Unten"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Motion_oben" data-view="Temp" data-title="Oben"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="speed" data-view="Meter" data-title="Mbits/s" data-height="120" data-width="150" data-min="0" data-max="50" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="Status" data-view="Status" data-title="Status" data-addclass-abwesend="isAbwesend"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Eingangstuer" data-view="Door" data-addclass-open="isOpen" data-title="Eingangtür"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Terrassentuer" data-view="Door" data-addclass-open="isOpen" data-title="Terrassentür"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="HWRtuer" data-view="Door" data-addclass-open="isOpen" data-title="HWRtür"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="JulianFenster" data-view="Door" data-addclass-open="isOpen" data-title="Julians Fenster"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="BadFenster" data-view="Door" data-addclass-open="isOpen" data-title="Bad Fenster"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="BueroFenster" data-view="Door" data-addclass-open="isOpen" data-title="Büro Fenster"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="iframeId1" data-view="Iframe" data-src="https://calendar.google.com/calendar/embed?src=bibabutzi%40gmail.com&ctz=Europe/Berlin&mode=AGENDA&amp;"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="iframeId1" data-view="Iframe" data-src="https://www.google.com/maps/embed/v1/directions?origin=Hamburger%20Chaussee%203,%2014624%20Dallgow-D%C3%B6beritz&destination=Nennhauser%20Damm%2072,%2013591%20Berlin&key=AIzaSyDv1TcuYU9_w0syDnSluV-sAMWnTdx-gzc"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="Fensterlampe" data-view="Light" data-title="Fensterlampe" data-addclass-an="isOn"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="TerasseWand" data-view="Light" data-title="Terassenlicht" data-addclass-an="isOn"></div>
    </li>
  </ul>
</div>
